
.myprj {
    padding: 35px;
    border: 1px solid green;
    display: grid;
    grid-template-columns: repeat(5, 280px);
    row-gap: 20px;
}

.prjtype {
    display: flex;
    margin: 10px 0 10px 0;
}

.prjtype p {
    margin-top: 2px;
}

.project-box {
    border: 2px solid #aaa;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px
}

.prj-box {
    display: flex;
    justify-content: space-between;
}

.box-header{
    display: flex;
    margin: 15px;
}

.box-header p {
    margin-top: 4px;
}

.favorite {
    width: 30px;
    height: 30px;
    border: 2px solid #aaa;
    border-radius: 0 15px 0 0;
    margin-left: 2px;
}

.like {
    background-color: yellow;
}

.prj-all-box {
    padding: 35px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 280px);
}

.status-progress {
    width: 220px;
    height: 12px;
    border-radius: 15px;
    background-color: #d9d9d9;
}