@charset "UTF-8";


.messenger-whole{
	width:30%;
	height:60%;
	
	position:absolute;
	z-index:100;
	right:0;
	top:6%;
	border: 2px solid black;
	background-color: white;
	box-sizing:border-box;
	margin:0px;
	float:right;
	
}

.1st-box{
	width:100%;
	height:20%
	background-color: #000000;
}