@charset "UTF-8";

.main-box{
    width: 80%;
}
#notice-box{
    padding-left: 100px;
    width: 100%;
}



#write-box{
    max-width: 98%;
    padding-left: 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.writelist{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--bo-40);

}
.writeno div:nth-child(1){
    border-left: 1px solid var(--bo-40);
    border-right: 1px solid var(--bo-40);
    border-bottom: 1px solid var(--bo-40);
    
}
.writeno div:nth-child(2){

    border-right: 1px solid var(--bo-40);
    border-bottom: 1px solid var(--bo-40);
}   

.writeno{
    display: flex;
    flex-grow: 1;
    width: 100%;
}
.writeno div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.docbox{
    display: flex;
}
.ppp div:nth-child(2){
    height: 150px;
    width: 150px;
    border-top: 1px solid var(--bo-40);
    border-bottom: 1px solid var(--bo-40); 
}
.ppp div:nth-child(3){
   
    border-bottom: 1px solid var(--bo-40); 
    
}

.ppp{
    display: flex;
    flex-direction: column;   
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--bo-40);
    border-left: 1px solid var(--bo-40);
  
    
}
.ppp div{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.ppp:nth-child(3){
    border-right: 1px solid var(--bo-40); 
}

.writefile{
    display: inline-block;
   border: 1px solid black;
   width: 100%;
}


.ti-1{
    
    color: white;
    background-color: var(--main-color);
    justify-content : center;
    height: 4em;
    text-align: left;
    padding-left: 150px;
    padding-top: 10px;
    gap: 10px;
}
.ti-2{
    border: 1px solid black;
    height: 4em;
    background-color: white;
    padding-left: 150px;
    padding-top: 10px;
    gap: 10px;
}
.docu-content{
    color: white;
    background-color:var(--main-color);
    justify-content : center;
    height: 4em;
    padding-left: 150px;
    padding-top: 10px;
    gap: 10px;
}
.writefile{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    gap: 10px;
    height: 6em;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 30px;

}
.writefile .file-btn{
    display: flex;
    
}
.fileaddd{
    display: flex;
}

#file-btn span{
    padding: 30px;
}




