@charset "UTF-8";

.writebx{
    display: flex;
}

#write-box{
    display: flex;
    padding-top: 10px;
    max-width: 60%;
}


.writelist{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
   

}
.writelist-no{
    height: 40px;
    display: flex;
}

.writedate{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
}

.writer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
}

.writech{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
}

.writelister{
   
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    
}

.imageboxlist{
    display: flex;
    
    
}

.writefile{
    display: flex;
    flex-direction: row;
}
.imageboxlist-1{
    border: 1px solid rgb(0, 0, 0);
}
.imageboxlist-2{
    border: 1px solid rgb(0, 0, 0);
}
.imageboxlist-3{
    border: 1px solid rgb(0, 0, 0);
}
.writefile{
    display: flex;
   border: 1px solid black;
   width: 100%;
}


.writetitle-ti{
    display: flex;
    color: white;
    background-color: #ddd;
}







