@charset "UTF-8";








/* 공통 */


#msg{
	cursor:pointer;
}
/* 공통-전체 화면 */
.messenger-whole{
	width:24%;
	height:92%;
	display:none;
	position:absolute;
	z-index:2;
	right:0;
	top:50px;
 	border: 1px solid var(--main-color);
	background-color: white;
 	box-sizing:border-box; 
	margin:0px;
	float:right;
/* 	box-shadow:0px 2px 5px 1px rgb(0 0 0 / 10%); */
	
	overflow-y:scroll;
	
}

/* 공통-스크롤바 안보이기 */
.messenger-whole::-webkit-scrollbar{
	display:none;
}









/* 대화방 리스트 공통 해당 화면들 */

.title-box{
	display : flex;
}


.title-text01{
	color:#0E6D62;
	margin:4%;
	margin-top:10%;
	font-size: 28px;
	margin-left:5%;
}

#qwe{
	color : var(--main-color);
	font-size:40px;
	margin-top:8%;
	margin-left:84%;
	background-color: white;
	border: 1px solid white;
	position:absolute;
    border-radius: 50%;
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  margin-left:2%;
}

.bottom-area{

	width:88%;
	height:0.2%;
	border:2px solid #0E6D62;
	background-color: #0E6D62;
	margin:0% auto;
	margin-bottom:6%;
	margin-top:6%;
}






/* 대화방 목록 화면 */


.chatroomlist-first-page{
	
}







#main-center-text1{
	margin-top:60%;
	text-align: center;
}

#main-center-text2{
	margin-left:10%;
	margin-right:10%;
	text-align: center;
}


.chatroom-list-space{
	display:flex;
	justify-content: space-evenly;
}

.messenger-category01>select{
	font-size:20px;
	width:100%;
	height:100%;
}

.chatroom-list-space>#wantchatdata{
	width:48%;
}

.chatroom-list-space>.btn{
	width:18%;
	font-size:18px;
	border:1px solid white;
}

.chatroom-list-box{
	
/* 	margin-top:2%; */
/* 	position:absolute; */
	width:100%;
	height:14%;
/* 	border-bottom:1px solid black; */
	margin-bottom:20%;
}

.with-chat-data01{
}

/* .chatroom-introduce{ */
/* 	font-size:28px; */
/* 	margin:10%; */
/* 	margin-bottom:6%; */
/* } */

.square-first{
	width:60px;
	height:60px;
	position:absolute;
	background-color: #0E6D62; 
	border:2px solid #0E6D62;
	border-radius: 100%;
	margin-left:6%;
	margin-top:4%;
}

.chatroom-list-two-to-two{
	margin-left:28%;
	margin-bottom:10%;
	position:absolute;
}

.with-chat-subroomname2{
	margin-top:6%;
	margin-bottom:6%;
	font-size:18px;
	cursor:pointer;
}



/* .chatroom-list-one{ */
/* 	display : flex; */
/* } */

/* .with-chat-roomname{ */
/* 	font-size:26px; */
/* 	margin:6%; */
/* 	margin-left:28%; */
/* } */

/* .with-chat-subroomname{ */
/* 	margin:6%; */
/* 	font-size:28px; */
/* } */




.chat-others-profile01{
	display:flex;
}

.with-chat-name01{
	margin-right:2%;
	font-size:12px;
}
.with-chat-grade01{
	margin-right:2%;
	font-size:12px;
}
.chatroom-alarm-content{
	font-size:12px;
}
.chatroom-exit-button{
	margin-left:80%;
/* 	margin-top:-32%; */
	border:1px solid white;
	height:20px;
/* 	weight:20px; */
}


#chatroom-exit-icon{
	font-size:40px;
	margin-top:60%;
	cursor: pointer;
}








/* 사내 대화방생성 첫번째 화면 */


#who-chat{
	
	margin-left:6%;
	margin-bottom:2%;
}


.text-messenger-settings{
	margin:4%;
	background-color: white;
	z-index:20;
	box-shadow: 0px 0px 2px grey;
/* 	overflow-y:scroll; */
}

.bottom-area2{

	width:100%;
	height:6%;
	border:1px solid #0E6D62;
	background-color: #0E6D62;
	margin-top:4%;
	margin-bottom:4%;
}

.textbox-messenger-area1{
	margin-left:10%;
	margin-right:20%;
	display : flex;
	justify-content : space-between; 
	
}

.textbox-messenger-area2{

}

.showup{
	display:flex;
}

/* .textbox-messenger-area3{} */

#chatsetting-slide01{
	margin-top: 10%;
}

.chatsetting-02-subtitle{
	margin-top:16%;
	font-size:20px;
}

.team-whole-data{
	display:flex;
	font-size: 100%;
	margin-top:10%;
	margin-bottom:6%;
}



.team-name{
	margin-left:70%;
	margin-right:10%;
	margin-top:4%;
	font-size:100%;
}

.team-area{
	margin-left:8%;
	margin-bottom:20%;
	font-size:28px;
	color:#008000;
	font-style: bold;
	position:absolute;
}

.with-chat-name{
	margin-top:6%;
	width:25%;
	margin-left:40%;
}


.with-chat-grade{
	margin-right:10%;
	margin-top:6%;
	width:25%;
	margin-left:auto;
}

.with-chat-data{
	display:flex;
	justify-content : space-around;
}

.profile-circle{
	margin:0 auto;
	width:10%;
	height:10%;
	border-radius: 50%;
	border : 10% solid #000000;
}




.whochat-page-first{
	
}


/* .team-people-data::-webkit-scrollbar{ */
/* 	width:10px; */
/* } */
/* .team-people-data::-webkit-scrollbar-thumb{ */
/* /* 	background-color: #000000; */ */
/* } */
/* .team-people-data::-webkit-scrollbar-track{ */
/* 	background-color: gray; */
/* } */




.showup{
	display: flex;
	margin-top:10%;
	margin-bottom:10%;
}

.square{
	width:60px;
	height:60px;
	position:absolute;
	background-color: #0E6D62; 
	border:2px solid #0E6D62;
	border-radius: 100%;
	margin-right:60%;
	margin-bottom:10%;
}

.chatting-button-list01{
	display:flex;
	justify-content: space-around;
	margin-bottom:10%;
	border:1px solid white;
}

.with-chat-data>.checkbox-square-one{
	width:48px;
	height:48px;
	margin-right:16%;
	}

.white_display_01{
	width:100%;
	height:20%;
	background-color: white;
	margin-bottom:10%;
}


.chatbutton01{
	margin-top:6%;
	margin-bottom:16%;
	cursor: pointer;
	border:1px solid white;
}


.chatbutton01>.btn{
	border:1px solid white;
	padding:16%;
}
















/* 채팅방 이름 생성 */
.who-chat-roomname{
	margin:10%;
	font-size:20px;
}

.define-roomname{
	margin-left:10%;
	width:80%;
	font-size:28px;
	position:absolute;
	margin-bottom:10%;
}

.btn-height{
	margin-left:20%;
	margin-right:20%;
	display:flex;
	justify-content: space-between;
	align-items:flex-end;
	margin-top:28%;
	border:1px solid white;
}

.btn-height>.btn{
	padding:3%;
	padding-left:6%;
	padding-right:6%;
	border:1px solid white;
}


#makingroom-second-leave{
	margin-top:20%;
}

.btn-height>#makingroom-second-go{
	
}




























/* 채팅방 화면 */




.chatting-room{
	background-color: white;
	width:100%;
	height:100%;
	
}

.chatting-room-first{
	width:100%;
	height:8%;
	background-color:var(--main-color);
	margin-top:0%;
	
}

.chatroom-square{
	width:48px;
	height:48px;
	position:absolute;
	background-color: gray;
	border-radius: 100%;
	margin:3%;	cursor:pointer;
}

.chatroom-box1-1-profile-data{
	margin-left:18%;
	position: absolute;
	margin-top: 5%;
}

.chatroom-one-to-one{
	display:flex;
	
}
.chatroom1-1-1text{
	color:white;
}
.chatroom1-1-2text{
	display:flex;
	color:white;
}

#chatroom-1-2-icon{
	font-size:60px;
	margin-left:75%;
	cursor: pointer;
	margin-top:2%;
	color:white;
}

.chatroom1-1-2text-1-1{
	margin-right:10%;
}
#chatroom-1-3-icon{
	font-size:40px;
	margin-left:0%;
	margin-top:4%;
	cursor: pointer;
	color:white;
}
/* 82+4 */
.chatroom-one-to-two{
	height:84%;
	width:100%;
	background-color: white;
	overflow-y:scroll;
	-ms-overflow-style:none;
	display:flex;
	flex-direction: column-reverse;
}
.chatroom-one-to-two::-webkit-scrollbar{
	display:none;
}

.chatroom-1-2-white-area{
	width:100%;
	height:10%;
	background-color: white;
}




















/* 채팅룸 공통 */
.chatroom{
	margin-top:4%;

}

.chatroom2-1text{
/* 	margin-left:15%; */
	color:black;
	display:flex;
}

.chatroom-square2{
	width:40px;
	height:40px;
/* 	position:absolute; */
	background-color:grey;
	border-radius:60%;
	margin-top:1%;
	margin-left:3%;
/* 	cursor:pointer; */
}
.chatroom2-1-1-1text{
	margin-right:1%;
	margin-top:6%;
	margin-left:2%;
}

.chatroom2-1-1-2text{
	margin-top:6%;
}

.chatroom2-1-2textbox{
	width:48%;
	margin-top:2%;
	background-color:#6cd5c82e;
	margin-left:4%;
	border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
/* 	border:1px solid 12887a2e; */
	
}
.chatroom2-1-2-1textbox{
	width:48%;
	margin-top:2%;
	background-color:#6cd5c82e;
	margin-left:4%;
	border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
	border:1px solid white;
}

.chatroom-upload-box{
	display:flex;
	margin-left:2%;
}


.chatroom2-1-2-text{
	padding:6%;
/* 	background-color:#12887a2e; */
}
.chatroom2-2-2textbox{
	width:48%;
	margin-top:2%;
/* 	background-color:#12887a2e; */
	background-color : #00f7da2e;
	margin-left:48%;
	border-radius: 10% 10% 10% 10% / 20% 20% 20% 20%;
/* 	border:1px solid 12887a2e; */
	
}

.chatroom2-2-2-text{
	margin-left:48%;
}

.chatroom2-2-3textbox{
	margin-left:74%;
	font-size:14px;
	margin-top:1%;
}
.chatroom-one-to-three{
	position:absolute;
	display:flex;
	width:88%;
	height:6%;
	border: 1px solid var(--main-color);
	background-color:white;
	justify-content: space-around;
	margin:6%;
	margin-top:0%;
	border-radius: 6% 6% 6% 6% / 40% 40% 40% 40%;
	box-shadow: 1px 1px 0px 0px;
	margin-left:6%;
	margin-right:5%;
}
#chatroom-1-3-1{
	font-size:40px;
	margin:2%;
/* 	border: 1px solid var(--main-color); */
/* 	border-radius:50%; */
	margin-left:6%;
	cursor:pointer;
	color:#12887a;
}
#chatroom1-3-text{
	align-content: center;
	width:70%;
	height:100%;
	border:1px solid white;
}
#chatroom-1-3-3{
	font-size:40px;
	margin:2%;
	margin-right:6%;
	color:#12887a;
}
.chatroom2-1-3textbox{
	margin-left:4%;
	font-size:14px;
	margin-top:1%;
	margin-bottom:8%;
}

.chatroom-one-to-three-2{
	width:100%;
	height:10%;
	background-color: white;
	border-top: 1px solid #12887a;
	position: absolute;
	z-index:20;
	margin-top:166%;
	display:flex;
}
<!-- 폰트 텍스트 메뉴바 -->



.chatroom-one-to-two>.chatroom-one-to-three-2>.chatroom-4-1-box{
	margin-left:6%;
	margin-top:2%;
}

#chatroom-4-1-icon1{
	
	font-size: 40px;
	margin-left:26%;
	margin-top:4%;
	cursor:pointer;
	color:#12887a;
	
}
#chatroom-4-1-icon2{
	
	font-size: 40px;
	margin-left:16%;
	margin-top:4%;
	cursor:pointer;color:#12887a;
}
#chatroom-4-1-icon3{
	
	font-size: 40px;
	margin-left:15%;
	margin-top:4%;
	cursor:pointer;color:#12887a;
}

.chatroom-menubar-text-green{
	color:#12887a;
	font-weight:600;
}















/*사내대화방 프로필(연락처, 프로필 링크 선택)모달창*/

.chatlist-modal{
	display:none;
	margin:20%;
	margin-left:15%;
	margin-top:70%;
	width:70%;
	height:20%;
/* 	align-items:center; */
	background-color: #12887a;
	position:absolute;
	border-radius:10% 10% 10% 10% /16% 16%;
}

.chatlist-modal-text01{
/* 	margin:30%; */
	margin-top:16%;
	text-align:center;
	font-size:20px;
	color:white;
}

.chatlist-modal-text02-1{
	margin:20%;
	margin-left:16%;
	margin-top:8%;
	width:68%;
	height:16%;
/* 	align-items:center; */
	background-color: white;
	position:absolute;
	border-radius:6% 6% 6% 6% /16% 16%;
	padding:2%;
	text-align:center;	cursor:pointer;
}


.chatlist-modal-text02-2{
	margin:20%;
	margin-left:16%;
	margin-top:20%;
	width:68%;
	height:16%;
/* 	align-items:center; */
	background-color: white;
	position:absolute;
	border-radius:6% 6% 6% 6% /16% 16%;
	padding:2%;
	text-align:center;	cursor:pointer;
}

/* 채팅방 안의 설정 */

#chatroom-setting-out{
	margin-left:80%;
	padding-top:2%;
	padding-bottom:2%;
	padding-left:4%;
	padding-right:4%;
}

.chatroom-setting-box1{
	display:flex;
}

#chatroom-setting-icon-1{
	margin-top:9%;
	font-size:40px;
	margin-left:45%;
	cursor:pointer;
}
.chatroom-setting-2-1{
	display:flex;
}
.chatroom-setting-2-1-1{
	margin-top:9%;
	font-size:20px;
	margin-left:8%;
/* 	cursor:pointer; */
	
}

input[id="chat-setting-check01"]{
	width:6%;
	height:6%;
	border-radius: 50%;
	margin-left:80%;
	margin-top:6%;
	position:absolute;
}
input[id="chat-setting-check02"]{
	width:6%;
	height:6%;
	border-radius: 50%;
	margin-left:80%;
	margin-top:6%;
	position:absolute;
}
.chatroom-setting-2-2{
	display:flex;
}

.chatroom-setting-2-2-1{
	margin-top:9%;
	margin-bottom:20%;
	font-size:20px;
	margin-left:8%;
/* 	cursor:pointer; */
}

.chatroom-setting-nametitle{
	margin-top:10%;
	margin-left:8%;
	margin-bottom:6%;
	font-size:24px;
}
.chatroom-setting>.btn-height{
	margin-top:20%;
}

/* 사용자 프로필 정보 */
.chatroom-person-profile-title-1{
	color:#0E6D62;
	margin:4%;
	font-size:28px;
	margin-left:5%;
	margin-top:10%;
}

#chatroom-setting-icon-2{
	margin-top:9%;
	font-size:40px;
	margin-left:20%;
	cursor:pointer;
}

.chat-profile-site>#chatroom-square02-big{
	width:100px;
	height:100px;
/* 	border:1px solid black; */
	background-color:grey;
	margin-left:10%;
	border-radius: 50%;
}


.chatroom-person-profile-text{
/* 	display:flex; */
}

.chatroom-profile{
	margin:10%;
	font-size:28px;
}

.chatroom-profile1{
	margin:10%;
	margin-top:-14%;
/* 	margin-bottom:40%; */
	font-size:18px;
	position: absolute;
	margin-left:60%;
/* 	margin-top:12%; */
}

















/*연락처 보내기*/
.text-messenger-send-profile-page-01{
	display:none;
/* 	margin:4%; */
	background-color:white;
	box-shadow:0px 0px 2px grey;

}

.chatbutton02-sendprofilelink{
	margin-top:6%;
	margin-bottom:16%;
	cursor:pointer;
}

/* .chatbutton02-sendprofilelink>#sendprofilelink-go{ */
/* /* 	padding-left:2%; */ */
/* /* 	padding-right:2%; */ */
/* } */


.text-messenger-send-contactss-page-01{
	display:none;
	margin:10%;
	margin-top:-14%;
/* 	margin-bottom:40%; */
	font-size:18px;
	position: absolute;
	margin-left:60%;
/* 	margin-top:12%; */
/* 	z-index:99; */
}



/* <!--삭제 메시지 --> */

.with-chat-data01-1{
	display:none;
}

.width-chat-subroomname2-1{
	margin-top:6%;
	margin-bottom:6%;
	font-size:18px;
	margin-left:18%;
}

.button-list-chatroom-delete{
	display: flex;
	justify-content: space-around;
}
.button-list-chatroom-delete>.btn{
	width:16%;
	height:10%;
	border:white;
	padding-top:1%;
	padding-bottom:1%;
}








<!--추가-->

<!--채팅 색깔 다르게 하기-- 616번째라인>




<!-- 20230102 긴급추가 -->

<!-- 대화방 생성 -->

.chat-deptname-area-version2{
	margin-left:36%;
	width:40%;
	position:absolute;
}

.chat-teamname-area-version2{
	margin-left:36%;
	width:40%;
	position:absolute;
}