.main-box-2 {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
}

#dept-wrap {
    width: 14%;
    height: 100%;
    padding: 10px;
}

#employee-wrap {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 40px;
}

#detail-wrap {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 100%;
    gap: 40px;
}

#employee-search {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#employee-search form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-content input[type='text'] {
    width: 50%;
    height: 100%;
    margin: 0px 15px 0px 80px;
    border: 1px solid var(--bo-40);
    border-radius: 3px;
    text-align: center;
    outline-color: #17a897;
}

#search-content input[type='submit'] {
    width: 80px;
    height: 100%;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

#search-content input[type='submit']:hover {
    background-color: #17a897;
}

#search-controller {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#search-controller input {
    display: none;
}

#search-controller label:hover,
#search-controller label:has(input:checked) {
    color: var(--main-color);
    font-weight: 500;
}

.hide {
    display: none;
}
#search-controller label {
    color: var(--bo-60);
    border-right: 1px solid var(--bo-20);
    padding: 0 20px;
    font-size: 14px;
}
#search-controller label[for='position'] {
    border: none;
}

#employee-list {
    width: 100%;
    height: 90%;
    padding: 20px;
}

#employee-detail {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#emp-deptInfo,
#employee-name {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    font-size: 15px;
}

#emp-deptInfo p:last-child,
#employee-name p:last-child {
    font-size: 11px;
}
#emp-dept {
    font-size: 13px;
}

#emp-name {
    font-weight: 600;
}

#employee-pic {
    width: 150px;
    height: 192px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

#employee-pic img {
    width: 100%;
    height: 100%;
}

#detail-controller {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#detail-controller a {
    text-decoration: none;
    color: var(--bo-60);
}

#detail-controller a > span {
    font-size: 30px;
}

.dept-list-controller a:hover > span,
#detail-controller a:hover {
    color: var(--main-color);
}

#dept-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 10px;
    gap: 10px;
}

#companyLogo {
    margin: 0px 0px 10px 10px;
    width: 100px;
    height: 40px;
    overflow: hidden;
}

#companyLogo > img {
    max-width: 100px;
    max-height: 40px;
    object-fit: fill;
}

#companyLogo-detail {
    width: 100px;
    height: 40px;
    overflow: hidden;
}

#companyLogo > img {
    max-width: 100px;
    max-height: 40px;
    object-fit: fill;
}

.header {
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: flex-end;
    margin: 10px 30px;
}
.title span {
    color: var(--main-color);
    margin-right: 7px;
}
.title label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.view-controller {
    display: flex;
    align-items: flex-end;
    margin: 10px 5px;
}

.view-controller button {
    padding: 0;
    display: flex;
    margin-right: 3px;
    border: none;
    background-color: rgb(246, 246, 246);
}

.view-controller button:hover span {
    color: var(--main-color);
    border: 1px solid #17a897;
}

.view-controller button > span {
    font-size: 20px;
    border: 1px solid var(--bo-40);
    border-radius: 3px;
}

#employee-info-wrap {
    width: 100%;
    height: 70%;
    margin-bottom: 50px;
}

#sortation {
    font-weight: 600;
    border-top: 1px solid var(--bo-60);
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    cursor: pointer;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 10px;
}

.list-item {
    width: 100%;
    height: 9%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    border-bottom: 1px solid var(--bo-20);
    cursor: pointer;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
}

.list-item:hover {
    color: var(--main-color);
}

.list-item > input {
    display: none;
}

.list-item > input:checked ~ p {
    color: var(--main-color);
    font-weight: 500;
}
.list-item:has(input:checked) {
    border-bottom: 1px solid var(--main-color);
}

#dept-detail-title {
    width: 100%;
    height: 10%;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.dept-list-wrap {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
}

.dept-list-wrap::-webkit-scrollbar {
    width: 3px;
}

#dept-detail-title h3 {
    font-size: 14px;
    color: var(--bo-60);
}

.dept-detail-list {
    display: flex;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid var(--bo-20);
    padding: 5px 5px 10px 5px;
    justify-content: space-between;
    align-items: center;
}

.dept-employee-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dept-employee-detail > p:nth-child(2) {
    font-size: 15px;
    margin: 0 4px;
}

.dept-employee-detail > p:nth-child(3) {
    font-size: 12px;
}

.dept-employee-pic {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--bo-20);
    overflow: hidden;
}

.dept-employee-pic > img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: fill;
}

.dept-list-controller {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
}

.dept-list-controller a > span {
    font-size: 17px;
    color: var(--bo-60);
}

.dept-list-controller a {
    text-decoration: none;
}

.dept-list-controller a:nth-child(2) {
    margin: 0 5px;
}

#list-controller {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
}

#list-controller span {
    cursor: pointer;
    color: var(--bo-60);
}

#list-controller span:hover {
    color: #000;
}

/* page */
.page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
}
.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.page-btn:hover {
    border: 1px solid var(--main-color);
}
.checked-p-btn {
    background-color: var(--main-color);
    color: white;
}
.page-box span {
    color: var(--bo-60);
    cursor: pointer;
}
.page-box span:hover {
    color: black;
}

/* 부서목록 */

.dept-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-color-dark);
    padding: 3px 0;
    margin-bottom: 10px;
}

.dept-title span {
    color: var(--main-color);
    margin-right: 5px;
}

.dept-title p {
    font-size: 15px;
    font-weight: 600;
}

.teamList-item,
.deptList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
}

.teamList-item label > input,
.deptList-item label > input {
    display: none;
}

.teamList-item .toggleBtn,
.deptList-item .toggleBtn {
    padding: 3px 4px;
    display: flex;
    background-color: var(--main-color);
    align-items: center;
    color: #fff;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
}

.teamList-item .toggleBtn > span,
.deptList-item .toggleBtn > span {
    font-size: 15px;
    transition: 0.4s ease-in-out;
}

.teamList-item > label,
.deptList-item > label {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.teamList-item {
    margin-left: 23px;
}

.teamList-item ~ li > .memberList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 46px;
}

.deptList-item ~ li > .memberList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 23px;
}

.memberList-item > p {
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.memberList-item > p > span {
    margin-right: 4px;
    color: var(--main-color);
}

.teamList-item:has(input:checked),
.deptList-item:has(input:checked) {
    border: 1px solid var(--main-color-dark);
    background-color: var(--main-color-dark);
    color: #fff;
}

.teamList-item:has(input:checked) .toggleBtn,
.deptList-item:has(input:checked) .toggleBtn {
    background-color: var(--main-color-dark);
}
.teamList-item:has(input:checked) .toggleBtn span,
.deptList-item:has(input:checked) .toggleBtn span {
    transform: rotate(180deg);
}

.teamList-item ~ li,
.deptList-item ~ li {
    max-height: 0px;
    overflow: hidden;
}

.teamList-item:has(input:checked) ~ li,
.deptList-item:has(input:checked) ~ li {
    max-height: none;
}
