<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting value="NULL" name="jdbcTypeForNull"/>
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.kh.sixman.notice.vo.NoticeVo" alias="NoticeVo"/>
		<typeAlias type="com.kh.sixman.common.AttachmentVo" alias="AttachmentVo"/>
		<typeAlias type="com.kh.sixman.mail.vo.MailVo" alias="mailVo"/>
		<typeAlias type="com.kh.sixman.common.BankVo" alias="BankVo"/>
		<typeAlias type="com.kh.sixman.common.AuthorizeVo" alias="AuthorizeVo"/>
		<typeAlias type="com.kh.sixman.member.vo.MemberVo" alias="MemberVo"/>
		<typeAlias type="com.kh.sixman.position.vo.PositionVo" alias="PositionVo"/>
		<typeAlias type="com.kh.sixman.dept.vo.DeptVo" alias="DeptVo"/>
		<typeAlias type="com.kh.sixman.alarm.vo.AlarmVo" alias="AlarmVo"/>
		<typeAlias type="com.kh.sixman.project.vo.ProjectVo" alias="ProjectVo"/>
		<typeAlias type="com.kh.sixman.schedule.vo.ScheduleVo" alias="ScheduleVo"/>
		<typeAlias type="com.kh.sixman.company.vo.CompanyVo" alias="CompanyVo"/>
		<typeAlias type="com.kh.sixman.chat.vo.ChatRoomVo" alias="ChatRoomVo"/>
		<typeAlias type="com.kh.sixman.chat.vo.ChatVo" alias="ChatVo"/>
	</typeAliases> 


</configuration>



























