<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting value="NULL" name="jdbcTypeForNull"/>
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.kh.sixman.notice.vo.NoticeVo" alias="NoticeVo"/>
		<typeAlias type="com.kh.sixman.common.AttachmentVo" alias="AttachmentVo"/>
		<typeAlias type="com.kh.sixman.mail.vo.MailVo" alias="mailVo"/>
		<typeAlias type="com.kh.sixman.member.vo.BankVo" alias="BankVo"/>
		<typeAlias type="com.kh.sixman.admin.vo.AuthorizeVo" alias="AuthorizeVo"/>
		<typeAlias type="com.kh.sixman.member.vo.MemberVo" alias="MemberVo"/>
		<typeAlias type="com.kh.sixman.admin.vo.PositionVo" alias="PositionVo"/>
		<typeAlias type="com.kh.sixman.admin.vo.DeptVo" alias="DeptVo"/>
	</typeAliases> 


</configuration>



























