#main-box-2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#switch-wrap {
    width: 30%;
    height: 45%;
}

#switch-wrap form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid var(--main-color-dark);
}

.header span {
    font-size: 29px;
    color: var(--main-color);
}

.header h2 {
    font-weight: 900;
    font-size: 18px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body input:focus {
    border-bottom: 1px solid var(--main-color);
}
.footer {
    line-height: 16px;
    text-align: center;
    font-size: 13px;
    color: var(--bo-60);
}
input[type='submit'] {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 3px;
}

input[type='submit']:hover {
    background-color: #17a897;
}
.success {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    border: none;
    outline-style: none;
    border-bottom: 1px solid var(--bo-20);
}
.success.error {
    border-bottom: 1px solid #e85c5c;
}

.success.error:focus {
    border-bottom: 1px solid #e85c5c;
}

.newpwd,
.newpwdCheck {
    position: relative;
    width: 100%;
}

#p1-comment,
#p2-comment {
    position: absolute;
    bottom: -17px;
    left: 0;
    font-size: 11px;
    color: #e85c5c;
}
