#main-box-2 {
    display: flex;
    width: 100%;
    height: 100%;
}

#dept-wrap {
    width: 18%;
    height: 100%;
    margin-right: 40px;
    padding: 10px;
}

.icon-color {
    color: var(--main-color);
}

#jstree ul li input {
    border: none;
    background-color: transparent;
}

#jstree ul li div {
    display: flex;
}

#member-wrap {
    width: 82%;
    height: 100%;
}

#member-wrap form {
    width: 100%;
    height: 100%;
    display: flex;
}

#member-info {
    width: 75%;
    height: 100%;
    margin-right: 40px;
    padding: 30px;
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    padding: 0px 0px 5px 20px;
}
.header > label {
    font-size: 20px;
    font-weight: 600;
}
.header > span {
    font-size: 28px;
    margin-right: 10px;
    color: var(--main-color);
}
#companyLogo {
    margin: 0px 0px 10px 10px;
    width: 100px;
}

#companyLogo > img {
    max-width: 100%;
    object-fit: fill;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 50px 30px 90px;
}

#profile-view {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.write {
    font-size: 17px;
    position: relative;
}

.write p {
    position: absolute;
    color: #e85c5c;
    font-size: 12px;
    bottom: -15px;
    left: 90px;
}

.write input {
    font-size: 15px;
    border: 1px solid #9d9d9d;
    padding: 5px;
    border-radius: 2px;
}

.write select {
    font-size: 12px;
    border: 1px solid #9d9d9d;
    padding: 5px;
    border-radius: 2px;
}
#id {
    margin-top: 3px;
}
#dept > label,
#position > label,
#authorize > label,
#id > label,
#name > label {
    margin-right: 40px;
}

#address-wrap > label {
    margin-right: 42px;
}

#bank > label {
    margin-right: 15px;
}

#birth > label {
    margin-right: 13px;
}

#email > label {
    margin-right: 27px;
}

#phone > label {
    margin-right: 30px;
}

#team > label {
    margin-right: 65px;
}

#birth > input,
#email > input,
#id > input,
#name > input,
#phone > input,
#bank > input {
    width: 60%;
}

#bank > input {
    margin-left: 90px;
    margin-top: 25px;
}

#profile-view > img {
    width: 50%;
    height: 200px;
    object-fit: fill;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px var(--bo-20);
}

#address-wrap {
    margin: 20px 0;
}
#address-wrap input {
    width: 65%;
}
#address-wrap > button {
    margin-left: 10px;
    font-size: 15px;
    background-color: var(--main-color);
    border-radius: 2px;
    padding: 5px 30px;
    border: none;
    cursor: pointer;
    color: #fff;
}

#address-wrap > button:hover {
    background-color: #17a897;
}

.info-wrap {
    display: flex;
}
.left-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.right-info {
    width: 50%;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#submit > #submitBtn {
    margin-left: 10px;
    font-size: 15px;
    background-color: var(--main-color);
    border-radius: 2px;
    padding: 5px 25px;
    border: none;
    cursor: pointer;
    color: #fff;
}

#submit > #submitBtn:hover {
    background-color: #17a897;
}

#submit > input[type='button'] {
    display: flex;
    color: #9d9d9d;
    border: 1px solid #fff;
    background: none;
    cursor: pointer;
    padding: 5px 25px;
}

#submit > input[type='button']:hover {
    color: #000;
    border: 1px solid var(--main-color);
}

#file-wrap {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 40px;
}

#required-file {
    width: 100%;
    height: 40%;
    padding: 10px;
}

#attachment-file {
    width: 100%;
    height: 60%;
    padding: 10px;
}
.title {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title > input {
    display: none;
}

.addfile {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    border-bottom: 1px solid var(--bo-60);
    padding: 5px;
}

#file-info {
    display: flex;
    justify-content: space-between;
    margin: 4px;
    align-items: center;
    border-bottom: 1px solid var(--bo-40);
    padding: 4px;
}

.addfile > span {
    margin-left: 10px;
    padding: 5px 0 5px 0;
}

#file-info > span {
    margin-left: 20px;
}

.addfile > input {
    display: none;
}

.plus {
    border: none;
}

.plus {
    background-color: var(--main-color);
    border-radius: 2px;
    padding: 3px 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
}

.plus span {
    margin-right: 5px;
    font-size: 15px;
}
.plus:hover {
    background-color: #17a897;
}
.remove {
    display: flex;
    color: #9d9d9d;
    border: 1px solid #fff;
    background: none;
    cursor: pointer;
    padding: 3px 10px;
}

.remove span {
    margin-right: 5px;
    font-size: 15px;
}
.remove:hover {
    border: 1px solid var(--main-color);
    border-radius: 2px;
    color: #000;
}

.checked {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.checked span {
    margin-left: 20px;
}

#controller {
    display: flex;
    align-content: center;
}
#controller span {
    color: #7d7d7d;
    cursor: pointer;
    font-size: 20px;
}

#controller span:nth-child(2) {
    margin: 0 5px;
}

#controller span:nth-child(2):hover {
    color: var(--main-color);
}

#controller span:nth-child(3):hover {
    color: #ff0000;
}

input,
select {
    outline-color: #17a897;
}


.write .error {
    border: 1px solid #e85c5c;
}

.error:focus {
    outline-color: #e85c5c;
}

/* 부서목록 */

.dept-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-color-dark);
    padding: 3px 0;
    margin-bottom: 10px;
}

.dept-title span {
    color: var(--main-color);
    margin-right: 5px;
}

.dept-title p {
    font-size: 15px;
    font-weight: 600;
}

.teamList-item,
.deptList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
}

.teamList-item label > input,
.deptList-item label > input {
    display: none;
}

.teamList-item .toggleBtn,
.deptList-item .toggleBtn {
    padding: 3px 4px;
    display: flex;
    background-color: var(--main-color);
    align-items: center;
    color: #fff;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
}

.teamList-item .toggleBtn > span,
.deptList-item .toggleBtn > span {
    font-size: 15px;
    transition: 0.4s ease-in-out;
}

.teamList-item > label,
.deptList-item > label {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.teamList-item {
    margin-left: 23px;
}

.teamList-item ~ li > .memberList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 46px;
}

.deptList-item ~ li > .memberList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 23px;
}

.memberList-item > a {
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.memberList-item > a > span {
    margin-right: 4px;
    color: var(--main-color);
}

.teamList-item:has(input:checked),
.deptList-item:has(input:checked) {
    border: 1px solid var(--main-color-dark);
    background-color: var(--main-color-dark);
    color: #fff;
}

.teamList-item:has(input:checked) .toggleBtn,
.deptList-item:has(input:checked) .toggleBtn {
    background-color: var(--main-color-dark);
}
.teamList-item:has(input:checked) .toggleBtn span,
.deptList-item:has(input:checked) .toggleBtn span {
    transform: rotate(180deg);
}

.teamList-item ~ li,
.deptList-item ~ li {
    max-height: 0px;
    overflow: hidden;
}

.teamList-item:has(input:checked) ~ li,
.deptList-item:has(input:checked) ~ li {
    max-height: none;
}
