<div style="text-align:center;">

    <video width="1200px" height="675px" src="https://blinglife.co.kr//video/ver_4_nologo_FHD.mp4" autoplay="" controls="" muted="">
    </video>
    
    <br><br>
    
    <img src="https://blinglife.co.kr//img/event/rip/page_1.jpg"><br>
    <img src="https://blinglife.co.kr//img/event/rip/page_2.jpg"><br>
    <img width="1200px;" src="https://blinglife.co.kr//img/event/rip/gif_1.gif"><br><br><br><br><br>
    <img width="1200px;" src="https://blinglife.co.kr//img/event/rip/gif_2.gif">