.main-box-2 {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
}
p[name='imgName'] {
    display: none;
}
#dept-wrap {
    width: 14%;
    height: 100%;
    padding: 10px;
}

.icon-color {
    color: var(--main-color);
}

#jstree ul li input {
    border: none;
    background-color: transparent;
}

#jstree ul li div {
    display: flex;
}

.dept-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-color-dark);
    padding: 3px 0;
    margin-bottom: 10px;
}

.dept-title span {
    color: var(--main-color);
    margin-right: 5px;
}

.dept-title p {
    font-size: 15px;
    font-weight: 600;
}

#employee-wrap {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    gap: 40px;
}

#detail-wrap {
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 100%;
    gap: 40px;
}

#employee-search {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#employee-search form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-content input[type='text'] {
    width: 50%;
    height: 100%;
    margin: 0px 15px 0px 80px;
    border: 1px solid var(--bo-40);
    border-radius: 3px;
    text-align: center;
    outline-color: #17a897;
}

#search-content input[type='submit'] {
    width: 80px;
    height: 100%;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

#search-content input[type='submit']:hover {
    background-color: #17a897;
}

#search-controller {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#search-controller input {
    display: none;
}

#search-controller label:hover,
#search-controller label:has(input:checked) {
    color: var(--main-color);
    font-weight: 500;
}

#search-controller label {
    color: var(--bo-60);
    border-right: 1px solid var(--bo-20);
    padding: 0 20px;
    font-size: 14px;
}
#search-controller label[for='position'] {
    border: none;
}

#employee-list {
    width: 100%;
    height: 90%;
    padding: 20px;
}

#newbie {
    width: 100%;
    height: 15%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;
}

#prev,
#next {
    cursor: pointer;
    color: var(--bo-40);
}

#prev:hover,
#next:hover {
    color: #000;
}

#prev {
    position: absolute;
    top: 50%;
    left: 0;
}
#next {
    position: absolute;
    top: 50%;
    right: 0px;
}

.newbie-wrapper {
    width: 140.469px;
    height: 100%;
    overflow: hidden;
}

.newbie-list {
    position: relative;
    width: 140.469px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.newbie-list .newbie-box {
    width: 140.469px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.newbie-list.animated {
    transition: 0.5s ease-in-out;
}
.newbie-list .newbie-box:not(:last-child) {
    margin-right: 30px;
}

.newbie-box a {
    cursor: pointer;
    text-decoration: none;
    color: #2d2d2d;
    font-weight: 700;
    display: flex;
}

#employee-name {
    display: flex;
    align-items: flex-end;
}

#employee-name p:last-child {
    font-size: 13px;
    margin-left: 5px;
}

#employee-pic {
    width: 65%;
    height: 50%;
}

#employee-pic img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#select-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 10px;
}

#companyLogo {
    margin-left: 10px;
    padding-top: 20px;
    width: 150px;
    height: 30px;
}

#companyLogo > img {
    width: 130px;
    height: 30px;
    object-fit: fill;
}

.header {
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: flex-end;
    margin: 10px 30px;
}
.title span {
    font-size: 23px;
    color: var(--main-color);
    margin-right: 7px;
}
.title h1 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
}

.controller-wrap {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 6px;
}

.add-emp {
    border: none;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px 4px;
    font-size: 14px;
}

.add-emp:hover {
    background-color: #17a897;
}
.list-item button,
.remove-emp {
    border: none;
    font-size: 14px;
    color: var(--bo-40);
    background-color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    padding: 3px 4px;
}
.list-item button:hover,
.remove-emp:hover {
    border-radius: 3px;
    border: 1px solid var(--main-color);
    color: #000;
}

.view-controller {
    display: flex;
    align-items: flex-end;
    margin: 5px 0px;
}

.view-controller button {
    padding: 0;
    display: flex;
    margin-right: 3px;
    border: none;
    background-color: rgb(246, 246, 246);
}

.view-controller button:hover span {
    color: var(--main-color);
    border: 1px solid #17a897;
}

.view-controller button > span {
    font-size: 20px;
    border: 1px solid var(--bo-40);
    border-radius: 3px;
}

#employee-info-wrap {
    width: 100%;
    height: 70%;
    margin-bottom: 50px;
}

#sortation {
    font-weight: 600;
    border-top: 1px solid var(--bo-60);
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.3fr 1.3fr 1fr 2fr 0.5fr;
    cursor: pointer;
    align-items: center;
    justify-items: center;
}

.list-item {
    width: 100%;
    height: 9%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1.3fr 1.3fr 1fr 2fr 0.5fr;
    border-bottom: 1px solid var(--bo-20);
    align-items: center;
    padding: 5px 0;
    justify-items: center;
    font-size: 15px;
}
.list-item a {
    text-decoration: none;
    color: #000;
}
.list-item select {
    border: 1px solid var(--bo-40);
    border-radius: 3px;
    outline-color: var(--main-color);
    padding: 0 3px;
}

.list-item:has(input:checked) {
    border-bottom: 1px solid var(--main-color);
}

.list-item:hover {
    border-bottom: 1px solid var(--main-color);
}

.side-title {
    width: 100%;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-title p {
    font-size: 15px;
    color: var(--main-color);
}

.side-title span {
    font-size: 18px;
    color: var(--bo-40);
    cursor: pointer;
}

.side-title span:hover {
    color: var(--main-color);
}

.select-employee-list {
    display: flex;
    width: 100%;
    height: 8%;
    border-bottom: 1px solid var(--bo-20);
    padding: 5px 5px 3px 5px;
    justify-content: space-between;
    align-items: center;
}

.select-employee-list > span {
    font-size: 17px;
    color: var(--bo-60);
    cursor: pointer;
}

.select-employee-list > span:hover {
    color: #000;
}

.select-employee-box {
    display: flex;
    width: 90%;
}

.newbie-pic,
.select-employee-pic {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid var(--bo-20);
}

.newbie-pic img,
.select-employee-pic > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 50px;
}
.info-box {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.select-dept-info {
    display: flex;
    font-size: 10px;
    align-items: flex-end;
    justify-content: center;
}

.select-dept-info p:last-child {
    margin-left: 5px;
    font-size: 10px;
    color: var(--bo-60);
    font-weight: 600;
    justify-self: start;
}

.select-employee-info {
    display: flex;
    font-size: 13px;
    align-items: flex-end;
}

.select-employee-info p:last-child {
    margin-left: 5px;
    font-size: 10px;
    color: var(--bo-60);
    font-weight: 600;
}
#list-controller {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#list-controller span {
    color: var(--bo-60);
    cursor: pointer;
}

#list-controller span:hover {
    color: #000;
}

/* page */
.page-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: center;
}
.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.page-btn:hover {
    border: 1px solid var(--main-color);
}

.checked-p-btn {
    background-color: var(--main-color);
    color: white;
}

.page-box span {
    color: var(--bo-60);
    cursor: pointer;
}

.page-box span:hover {
    color: black;
}
/* 부서목록 */
.teamList-item,
.deptList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
}

.teamList-item label > input,
.deptList-item label > input {
    display: none;
}

.teamList-item .toggleBtn,
.deptList-item .toggleBtn {
    padding: 3px 4px;
    display: flex;
    background-color: var(--main-color);
    align-items: center;
    color: #fff;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
}

.teamList-item .toggleBtn > span,
.deptList-item .toggleBtn > span {
    font-size: 15px;
    transition: 0.4s ease-in-out;
}

.teamList-item > label,
.deptList-item > label {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.teamList-item {
    margin-left: 23px;
}

.teamList-item ~ li > .memberList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 46px;
}

.deptList-item ~ li > .memberList-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 23px;
}

.memberList-item > a {
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.memberList-item > a > span {
    margin-right: 4px;
    color: var(--main-color);
}

.teamList-item:has(input:checked),
.deptList-item:has(input:checked) {
    border: 1px solid var(--main-color-dark);
    background-color: var(--main-color-dark);
    color: #fff;
}

.teamList-item:has(input:checked) .toggleBtn,
.deptList-item:has(input:checked) .toggleBtn {
    background-color: var(--main-color-dark);
}
.teamList-item:has(input:checked) .toggleBtn span,
.deptList-item:has(input:checked) .toggleBtn span {
    transform: rotate(180deg);
}

.teamList-item ~ li,
.deptList-item ~ li {
    max-height: 0px;
    overflow: hidden;
}

.teamList-item:has(input:checked) ~ li,
.deptList-item:has(input:checked) ~ li {
    max-height: none;
}
