.main-box-2 {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
}

#form {
    width: 80%;
    height: 100%;
    padding: 20px;
}

.infoList {
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}

.infoList > div {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color-dark);
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

.edit-title span {
    font-size: 24px;
    margin-right: 5px;
    color: var(--main-color);
}

.infoList > div .edit-title {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--main-color-dark);
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

.infoList > div .edit-title span {
    font-size: 24px;
    margin-right: 5px;
    color: var(--main-color);
}

.company-edit-wrap {
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.company-Info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.company-app {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
}

#previewLogo {
    position: absolute;
    top: 5px;
    left: 30px;
    z-index: 999;
    width: 150px;
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-box {
    width: 150px;
    height: 40px;
    object-fit: fill;
}

label[for='companyLogo'] {
    position: absolute;
    top: 12px;
    left: 225px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 3px;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 2px;
    font-size: 13px;
}

.company-edit-wrap input {
    outline-color: var(--main-color);
    padding: 5px;
}

label[for='companyLogo'] span {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}

label[for='companyLogo']:hover {
    background-color: var(--main-color-dark);
    color: #000;
    font-weight: 500;
}

#companyLogo {
    display: none;
}

#essential-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#essential-info input {
    width: 250px;
}

.info-item.address-info input {
    width: 70%;
}

#company-phone-edit {
    margin-left: 12px;
}

.address-info {
    position: relative;
}

.address-info label {
    margin: 0px 22px 0px 12px;
}

.address-info button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 80px;
    padding: 8px 10px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}

input[type='submit']:hover,
.address-info button:hover {
    background-color: var(--main-color-dark);
}

input[type='submit'] {
    align-self: flex-end;
    width: 80px;
    padding: 5px 15px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
    font-size: 17px;
}

#map {
    width: 100%;
    height: 90%;
    padding: 30px;
}

.position-wrap,
.team-wrap,
.dept-wrap {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.position-list,
.team-list,
.dept-list {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--bo-20);
    overflow-y: scroll;
}

.position-list > div,
.team-list > div,
.dept-list > div {
    padding: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#deptNo {
    display: none;
}

.position-list::-webkit-scrollbar,
.team-list::-webkit-scrollbar,
.dept-list::-webkit-scrollbar {
    width: 5px;
}

.error {
    border: 2px solid #e85c5c;
    padding: 5px;
    outline-style: #e85c5c;
}

.position-item,
.dept-item,
.team-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.position-item > div,
.dept-item > label,
.team-item > div {
    width: 80%;
    padding: 1px 3px;
    border: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 3px;
}

.position-item > div span,
.dept-item > label span,
.team-item > div span {
    font-size: 20px;
    color: var(--bo-80);
}

.dept-item > input[type='radio'] {
    display: none;
}

.position-item .remove-position,
.dept-item .remove-dept,
.team-item .remove-team {
    text-align: center;
    width: 20%;
    color: var(--bo-40);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

.position-item .remove-position:hover,
.dept-item .remove-dept:hover,
.team-item .remove-team:hover {
    color: #e85c5c;
}

.show-team {
    cursor: pointer;
}

.dept-item:has(input[type='radio']:checked) .show-team,
.dept-item:has(input[type='radio']:checked) .show-team span {
    background-color: var(--main-color-dark);
    color: #fff;
}

.positionNo,
.teamNo,
.deptNo {
    display: none;
}

.position-insert,
.dept-insert,
.team-insert {
    width: 100%;
    height: 15%;
    display: flex;
    gap: 10px;
}

.position-insert input[type='text'],
.dept-insert input[type='text'],
.team-insert input[type='text'] {
    width: 75%;
    padding: 2px 3px;
    outline-color: var(--main-color-dark);
}

.position-insert input[type='button'],
.dept-insert input[type='button'],
.team-insert input[type='button'] {
    width: 25%;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    cursor: pointer;
}

.position-insert input[type='button']:hover,
.dept-insert input[type='button']:hover,
.team-insert input[type='button']:hover {
    background-color: var(--main-color-dark);
}
