*{
    margin: 0;
}
#main-page2{
    display: grid;
    grid-template-columns: 1.3fr 3fr 1fr;
    gap: 40px;
    height: 100%;
}
.box{
    width: 100%;
    height: 100%;
}
#g-col-1,
#g-col-2,
#g-col-3{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 40px;
}
#g-col-1{grid-template-rows: 1fr 0.8fr 0.8fr 1.2fr;}
#g-col-2{grid-template-rows: 4fr 1fr;}
#g-col-3{grid-template-rows: 1fr 1.5fr}

/*  */
#main-box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
#time-box{
    color: var(--main-color-dark);
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}
#btn-box{
    display: flex;
    gap: 50px;
}
#btn-box > .btn{
    width: 110px;
    height: 50px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 200;
}
#status-box{
    margin-top: 10px;
    width: 70%;
    height: 20px;
    border-radius: 7px;
    border: 1px solid var(--main-color);
}
/*  */
#main-box2{
    display: flex;
    padding: 20px;
    gap: 10px;
}
#main-mail{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#mail-list{
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
}
.item-box .box-item{
    font-size: 0.8em;
}

.box-item{
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    margin-bottom: 4px;
    gap: 10px;
    width: 100%;
}
#mail-list > div:first-of-type{
    padding: 5px 0;
    margin: 10px 0;
    border-bottom: 1px solid var(--main-color);
    font-size: 1.2em;
    font-weight: 500;
    color: var(--main-color);
}
.box-item > p:nth-of-type(2){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-item > p:nth-of-type(3){
    color: var(--bo-40)
}

#main-mail > div:nth-of-type(1) > span{
    font-size: 4em;
    color: var(--main-color);
}

#main-mail > div:nth-of-type(2){
    display: flex;
    gap: 5px;
}

#main-mail > div:nth-of-type(2) > p:first-of-type{
    color: var(--main-color);
}

#main-mail > div:nth-of-type(3){
    width: 90px;
    height: 30px;
}
#document-box > div:nth-of-type(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#document-box > div:nth-of-type(2) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#document-box > div:nth-of-type(2) > div>span{
    font-size: 2em;
    color: var(--main-color);
}
#document-box > div:nth-of-type(2) > div>p:nth-of-type(1){
    font-size: 0.8em;
}
#document-box > div:nth-of-type(2) > div>p:nth-of-type(2){
    color: var(--main-color);
}

.box-title{
    padding-bottom: 5px;
    margin: 15px;
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 1.1em;
    font-weight: 500;
}
.item-box{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}