<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendanceMapper">

<!-- Board  -->
	<select id="selectList" resultType="com.kh.sixman.attendance.vo.AttendanceVo">
		SELECT 
			M.NO
			,M.NAME
			,A.MEMBER_NO
			,A.STATUS
			,A.WORK_DAY
			,TO_CHAR(A."START", 'HH24:MI') AS "START"
			,TO_CHAR(A."END", 'HH24:MI') AS "END"
			,A.WORK_TIME
			FROM MEMBER M
			, ATTENDANCE A
		WHERE A.MEMBER_NO = M.NO
		AND M.NAME = #{name}
		ORDER BY "WORK_DAY" DESC, "START" DESC
	</select>
	
	<select id="countList" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER M
		, ATTENDANCE A
		WHERE A.MEMBER_NO = M.NO
		AND M.NAME = #{name}

	</select>
	
	<insert id="insertStart">
		INSERT INTO ATTENDANCE
		(
		   "NO",
			"MEMBER_NO",
			STATUS,
			"WORK_DAY",
			"START",
			"END",
			"WORK_TIME"
		)
		VALUES
		(
		    SEQ_ATTENDANCE_NO.NEXTVAL,
		    #{no},
		    1,
		    SYSDATE,
		    SYSDATE,
		    NULL,
		    1
		)
	
	</insert>
	
	<select id="todayWork" resultType="com.kh.sixman.attendance.vo.WorkTimeVo">
		SELECT 
		TO_CHAR("START", 'HH24:MI') AS "START"
		,TO_CHAR("END", 'HH24:MI') AS "END"
		FROM 
		(SELECT "START","END"
		FROM ATTENDANCE
		WHERE "WORK_DAY" = #{workDay}
		ORDER BY "START")
		WHERE ROWNUM=1
	</select>
	
	<update id="updateEnd">
		UPDATE ATTENDANCE
		SET
		"END" = SYSDATE
		WHERE "WORK_DAY" = #{end}
			
	</update>
	
	<!-- admin -->
	
	<select id="listMember" resultType="com.kh.sixman.member.vo.MemberVo">
		SELECT *
		FROM MEMBER
	</select>
	
	<select id="selectMemberList" resultType="com.kh.sixman.attendance.vo.AttendanceVo">
			SELECT 
			M.NO
			,M.NAME
			,A.MEMBER_NO
			,A.STATUS
			,A.WORK_DAY
			,TO_CHAR(A."START", 'HH24:MI') AS "START"
			,TO_CHAR(A."END", 'HH24:MI') AS "END"
			,A.WORK_TIME
			FROM MEMBER M
			, ATTENDANCE A
		WHERE A.MEMBER_NO = M.NO
		AND M.NAME = #{name}
		ORDER BY "WORK_DAY" DESC, "START" DESC
	</select>




</mapper>