<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attendanceMapper">

	<select id="selectList" resultType="com.kh.sixman.attendance.vo.AttendanceVo">
		SELECT 
			M.NO
			,M.NAME
			,A.MEMBER_NO
			,A.STATUS
			,A.WORK_DAY
			,A."START"
			,A."END"
			,A.WORK_TIME
			FROM MEMBER M
			, ATTENDANCE A
		WHERE A.MEMBER_NO = M.NO
	</select>
	
	<select id="countList" resultType="int">
		SELECT COUNT(*)
		FROM ATTENDANCE
	</select>
	
	<insert id="insertStart">
		INSERT INTO ATTENDANCE
		(
		   "NO",
			"MEMBER_NO",
			STATUS,
			WORK_DAY
			"START",
			"END",
			"WORK_TIME"
		)
		VALUES
		(
		    SEQ_ATTENDANCE_NO.NEXTVAL,
		    1,
		    1,
		    SYSDATE,
		    SYSDATE,
		    SYSDATE,
		    1
		)
	
	</insert>

</mapper>