<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyMapper">
	
	<update id="updateCompany">
		UPDATE COMPANY
		
		SET 
			"NAME" = #{name},
			"LICENSE" = #{license},
			"ADDRESS" = #{address},
			"PHONE" = #{phone}

		WHERE "NO" = #{no}
	</update>
	
	<select id="getFileNo" resultType="String">
		SELECT 
			NO
		FROM COMPANYLOGO_A
		WHERE COMPANY_NO = 1
		AND THUMB_YN = 'Y'
	</select>
	
	<update id="updateThumb">
		UPDATE COMPANYLOGO_A
		SET 
			"THUMB_YN" = 'N'
		WHERE "NO" = #{fileNo}
	</update>
	
	
	<select id="getNo" resultType="String">
		select
			"NO"
		from COMPANY
		WHERE LICENSE = #{license}
	</select>
	
	<select id="getCompany" resultType="CompanyVo">
		select
			C.NO,
			C.NAME,
			C.LICENSE,
			C.ADDRESS,
			C.PHONE,
			A.NO AS LOGO_NO,
			A.CHANGE_NAME AS LOGO_NAME
		from COMPANY C
		LEFT JOIN 
		(
			SELECT
				*
			FROM COMPANYLOGO_A
			WHERE COMPANY_NO = #{no}
			AND THUMB_YN = 'Y'
		) A ON C.NO = A.COMPANY_NO
		WHERE C.NO = #{no}
		<if test="license != null and license != ''">
		AND C.LICENSE = #{license}
		</if>
	</select>
	
	<insert id="insertFile">
		INSERT INTO COMPANYLOGO_A
		(
			"NO",
			"ORIGIN_NAME",
			"COMPANY_NO",
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
		)
		VALUES
		(
			SEQ_COMPANYLOGO_A_NO.NEXTVAL,
			#{originName},
			${subNo},
			#{changeName},
			#{filePath},
			SYSDATE
		)
	</insert>
	
	
	<delete id="deleteFile">
		DELETE 
		FROM COMPANYLOGO_A 
 		where NO = ${no}
	</delete>
</mapper>