<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="documentMapper">


<!-- 게시판 insert -->
<insert id="write">

	INSERT INTO DOCUMENT
        (
        	"NO"
        	,"SEND_PAY"
        	,"AP_NO"
        	,"TITLE"
        	,"CONTENT"
        	,ENROLL_DATE
        	,MODIFY_DATE
        	,START_DATE
        	,END_DATE
        	,"REFER"
        	,D_YN
        	,D_SAVE
        	,"TYPE"

        <!-- 
        	"STATE",
        	"TYPE"
        	 -->
        )
        VALUES
        (
        	SEQ_DOCUMENT_NO.NEXTVAL
        	,#{sendPay}
        	,#{apNo}
            ,#{title}
            ,#{content}
            ,SYSDATE
            ,SYSDATE
            ,SYSDATE
            ,SYSDATE
            ,#{refer}
            ,'N'
            ,'N'
           	,#{type}
            

           <!--  ,#{sendName} -->
       <!--     ,#{sendPay}
           ,'1'
           ,'N'
           ,'N'
           ,#{sendName} -->

        )
</insert>
<insert id="stateis">
	INSERT INTO DOC_SAVE
	(
		"NO"
		,"AP_NO"
		,"DOC_NO"
		,STATE
		,A_YN
	)
	VALUES
	(
		SEQ_DOC_SAVE_NO.NEXTVAL
		,#{apNo}
		,#{docNo}
		,'1'
		,'N'
	)
	
</insert>



<select id="getNo" resultType="String">
    	SELECT "NO"
    	FROM DOCUMENT
    	WHERE SEND_PAY = ${sendPay}
    	AND "ENROLL_DATE" = #{enrollDate}
    </select>





<select id="selectCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM DOCUMENT
        <trim prefix="WHERE" prefixOverrides="OR||AND">
	        <if test=" keyword != '' ">
		        (
		        TITLE LIKE '%${keyword}%'
		        OR CONTENT LIKE '%${keyword}%'
		        )
	        </if>
	        AND DELETE_YN = 'N' 
		</trim>
        order by enroll_date
    </select>
    
    
    <select id="selectList" parameterType="String" resultType="DocumentVo">
        SELECT *
        FROM DOCUMENT
        <trim prefix="WHERE" prefixOverrides="OR||AND">
	        <if test=" keyword != '' ">
		        (
		        TITLE LIKE '%${keyword}%'
		        OR CONTENT LIKE '%${keyword}%'
		        )
	        </if>
	        AND DELETE_YN = 'N' 
		</trim>
        order by enroll_date 
    </select>
    
<!--    <update id="viewCount">
		UPDATE DOCUMENT
		SET "VIEW" = "VIEW" + 1
		WHERE NO = ${no}
	</update>  -->
	
	<select id="selectOne" parameterType="String" resultType="DocumentVo">
    	select * from document
    	where no = ${no}
    </select>
    
    <select id="nextAndPre" resultType="DocumentVo">
		SELECT NO, TITLE, ENROLL_DATE
		FROM DOCUMENT
		WHERE NO IN
		(
			SELECT MIN(NO)
			FROM 
			(
				SELECT NO
				FROM DOCUMENT
				WHERE NO > ${no}
			)
			UNION ALL
			SELECT MAX(NO)
			FROM 
			(
				SELECT NO
				FROM DOCUMENT
				WHERE NO <![CDATA[<]]> ${no}
			)
		)
	</select>

<select id="docuselect"  resultType="DocumentVo">
	 SELECT  
		D.NO
        ,S.DOC_NO
		,D.ENROLL_DATE
		,D.TYPE
		,D.TITLE
		,S.STATE
	FROM
		DOCUMENT D
	LEFT OUTER JOIN DOC_SAVE S ON D.NO =S.DOC_NO

</select>

<select id="approveDS" resultType="DocumentVo">
	SELECT
		A.NO
		,DS.NO
		,DS.AP_NO
		,DS.DOC_NO
		,DS.STATE
		,DS.A_YN
		,A.A_MAN
		,A.A_NO
		,A.PRI
	FROM
		APRPROVAL A
	LEFT OUTER JOIN DOC_SAVE DS ON A.NO = DS.AP_NO
</select>

<select id="approveAP" resultType="DocumentVo">
	SELECT 
		A.NO
		,P.NO
		,A.A_MAN
		,A.A_NO
		,A.PRI
		,P.M_NO
	FROM
		APRPROVAL A
	LEFT OUTER JOIN APP_NO P ON A.NO = P.NO = A.A_NO
		
</select>

<delete id="delete">

	DELETE FROM
	DOCUMENT
	WHERE
	NO = #{no}

</delete>




































<!-- 	 <insert id="write"> -->
<!--         <selectKey keyProperty="no" resultType="String" order="BEFORE"> -->
<!--             select SEQ_DOCUMENT_NO.NEXTVAL FROM dual -->
<!--         </selectKey> -->
<!--             INSERT INTO DOCUMENT -->
<!--         ( -->
<!--         	AP_NO, -->
<!--         	M_NO, -->
<!--         	SEND_PAY, -->

<!--         	TITLE, -->
<!--         	CONTENT, -->
<!--         	ENROLL_DATE, -->
<!--         	MODIFY_DATE, -->
<!--         	START_DATE, -->
<!--         	END_DATE, -->
<!--         	REFER, -->
        	
<!--         ) -->
<!--         VALUES -->
<!--         ( -->
<!--             ${apNo}, -->
<!--             ${mNo}, -->
<!--             ${sendPay}, -->

<!--             #{title} -->
<!--             ,#{content} -->
<!--             ,SYSDATE -->
<!--             ,SYSDATE -->
<!--             ,SYSDATE -->
<!--             ,SYSDATE -->
<!--             ,#{refer} -->
            
<!--         ) -->

<!--     </insert> -->
    
    












<!--     <update    id="send"> -->
<!--         insert all -->
<!--         <foreach collection="paySender" item="apNo" separator=" " > -->
<!--         <if test=" apNo != ' ' "> -->
<!--             into document -->
<!--             ( -->
<!--                 NO -->
<!--                 ,DOC_NO -->
<!--                 ,M_NO -->
<!--                 ,STATE -->
<!--                 ,A_YN -->
<!--             ) -->
<!--             VALUES -->
<!--             ( -->
<!--                 get_seq_no('seq_aprproval_no) -->
<!-- 				,${docNo} -->
<!--                 ,${mNo} -->
<!--                 ,${state} -->
<!--                 ,'N' -->


<!--             ) -->
<!--         </if> -->
<!--         </foreach> -->
<!--         select * from dual; -->
<!--     </update> -->
    
<!--     <select id="countList" resultType="int"> -->
<!-- 	    SELECT COUNT(*) -->
<!-- 	    FROM -->
<!-- 	    ( -->
<!-- 	    <trim prefixOverrides="UNION ALL"> -->
<!-- 	    <if test="!'기안문서함'.equals(type)"> -->
<!-- 	        select  -->
<!-- 	            D.NO AS DOCUMENT_NO -->
<!-- 	            ,D.SEND_PAY AS M_NO -->
<!-- 	            ,MM.NAME AS SEND_NAME -->
<!-- 	            ,D.D_YN -->
<!-- 	            ,D.TITLE -->
<!-- 	            ,D.CONTENT -->
<!-- 	            ,D.START_DATE -->
<!-- 	            ,T.NO AS TYPE_NO -->
<!-- 	            ,T.NAME AS TYPE_NAME -->
<!-- 	            ,'Y' as ISSENDER  -->
<!-- 	            ,'Y' as A_YN -->
<!-- 	        from DOCUMENT D -->
<!-- 	        join member mm on mm.no = D.SEND_PAY -->
<!-- 	        LEFT JOIN DOC_A DA ON D.NO = DA.DOCUMENT_NO -->
<!-- 	        LEFT JOIN TYPE_A T ON T.NO = DA.TYPE_NO -->
<!-- 	        WHERE MM.NO = ${mNo} -->
<!-- 	        AND (USER_NO = ${mNo} OR M_NO IS NULL) -->
<!-- 	        AND  -->
<!-- 		    <if test="'임시보관함'.equals(typeName)"> -->
<!-- 		    	D_SAVE = 'Y' -->
<!-- 		    </if> -->
<!-- 		    <if test="!'임시보관함'.equals(typeName)"> -->
<!-- 		    	D_SAVE = 'N' -->
<!-- 		    </if> -->
<!-- 		</if> -->
<!-- 		</trim> -->
		
		
<!-- 	</select> -->
	
	
</mapper>
<!-- 	<configuration> -->
<!-- 	<settings> -->
<!-- 		<setting name="mapUnderscoreToCamelCase" value="true"/> -->
<!-- 	</settings> -->
<!-- </configuration> -->
    