<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="docufileMapper">

	<update id="insertAll">
		insert all
		<foreach collection="list" item="dvo" separator=" ">
			into ${tableName}_A
			<!-- 여기는 저도  db테이블 새로 만들어야하는거 맞나요?SQL -->
			(
				"NO"
				,"ORGIN_NAME"
				,"${tableName}_NO"
				,"CHANGE_NAME"
				,"FILE_PATH"
				,"ENROLL_DATE"
			)
			VALUES
			(
				get_seq_no('seq_${tableName}_no'),
				#{vo.originName},
				${vo.subNo},
				#{vo.changeName},
				#{vo.filePath},
				SYSDATE
			)
			</foreach>
			select * from dual
		</update>

    
</mapper>