<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="documentMapper">

	 <insert id="write">
        <selectKey keyProperty="no" resultType="String" order="BEFORE">
            select SEQ_DOCUMENT_NO.NEXTVAL FROM dual
        </selectKey>
            INSERT INTO DOCUMENT
        (
        	AP_NO,
        	M_NO,
        	SEND_PAY,
        	s,
        	TITLE,
        	CONTENT,
        	ENROLL_DATE,
        	MODIFY_DATE,
        	START_DATE,
        	END_DATE,
        	REFER,
        	
        )
        VALUES
        (
            ${apNo},
            ${mNo},
            ${sendPay},
            'N'
            <if test="dSave.equals('작성하기')">
            'N',
            </if>
            <if test="dSave.equals('임시저장')">
            'Y',
            </if>
            #{title}
            ,#{content}
            ,SYSDATE
            ,SYSDATE
            ,SYSDATE
            ,SYSDATE
            ,#{refer}
            
        )

    </insert>
    
    












<!--     <update    id="send"> -->
<!--         insert all -->
<!--         <foreach collection="paySender" item="apNo" separator=" " > -->
<!--         <if test=" apNo != ' ' "> -->
<!--             into document -->
<!--             ( -->
<!--                 NO -->
<!--                 ,DOC_NO -->
<!--                 ,M_NO -->
<!--                 ,STATE -->
<!--                 ,A_YN -->
<!--             ) -->
<!--             VALUES -->
<!--             ( -->
<!--                 get_seq_no('seq_aprproval_no) -->
<!-- 				,${docNo} -->
<!--                 ,${mNo} -->
<!--                 ,${state} -->
<!--                 ,'N' -->


<!--             ) -->
<!--         </if> -->
<!--         </foreach> -->
<!--         select * from dual; -->
<!--     </update> -->
    
<!--     <select id="countList" resultType="int"> -->
<!-- 	    SELECT COUNT(*) -->
<!-- 	    FROM -->
<!-- 	    ( -->
<!-- 	    <trim prefixOverrides="UNION ALL"> -->
<!-- 	    <if test="!'기안문서함'.equals(type)"> -->
<!-- 	        select  -->
<!-- 	            D.NO AS DOCUMENT_NO -->
<!-- 	            ,D.SEND_PAY AS M_NO -->
<!-- 	            ,MM.NAME AS SEND_NAME -->
<!-- 	            ,D.D_YN -->
<!-- 	            ,D.TITLE -->
<!-- 	            ,D.CONTENT -->
<!-- 	            ,D.START_DATE -->
<!-- 	            ,T.NO AS TYPE_NO -->
<!-- 	            ,T.NAME AS TYPE_NAME -->
<!-- 	            ,'Y' as ISSENDER  -->
<!-- 	            ,'Y' as A_YN -->
<!-- 	        from DOCUMENT D -->
<!-- 	        join member mm on mm.no = D.SEND_PAY -->
<!-- 	        LEFT JOIN DOC_A DA ON D.NO = DA.DOCUMENT_NO -->
<!-- 	        LEFT JOIN TYPE_A T ON T.NO = DA.TYPE_NO -->
<!-- 	        WHERE MM.NO = ${mNo} -->
<!-- 	        AND (USER_NO = ${mNo} OR M_NO IS NULL) -->
<!-- 	        AND  -->
<!-- 		    <if test="'임시보관함'.equals(typeName)"> -->
<!-- 		    	D_SAVE = 'Y' -->
<!-- 		    </if> -->
<!-- 		    <if test="!'임시보관함'.equals(typeName)"> -->
<!-- 		    	D_SAVE = 'N' -->
<!-- 		    </if> -->
<!-- 		</if> -->
<!-- 		</trim> -->
		
		
<!-- 	</select> -->
	
	
</mapper>
<!-- 	<configuration> -->
<!-- 	<settings> -->
<!-- 		<setting name="mapUnderscoreToCamelCase" value="true"/> -->
<!-- 	</settings> -->
<!-- </configuration> -->
    