<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileMapper">

	<update id="insertAll">
		insert all
		<foreach collection="list" item="vo" separator=" ">
			into NOTICE_A
		(
			"NO",
			"ORIGIN_NAME",
			"${tableName}_NO",
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
		)
		VALUES
		(
			get_seq_no('seq_notice_a_no'),
			#{vo.originName},
			${vo.subNo},
			#{vo.changeName},
			#{vo.filePath},
			SYSDATE
		)
		</foreach>
		select * from dual
	</update>
	
	<select id="selectFileList" resultType="AttachmentVo">
		select 
			"NO",
			"ORIGIN_NAME",
			"${tableName}_NO" as subNo,
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
 		from ${tableName}_A
		where ${tableName}_NO = ${no}
	</select>
	
	<select id="getFile" resultType="AttachmentVo">
		select 
			"NO",
			"ORIGIN_NAME",
			"${tableName}_NO" as subNo,
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
 		from ${tableName}_A
		where NO = ${no}
	</select>
	
	<update id="updateDelete" parameterType="String">
		update notice
		set delete_yn = 'Y'
		where no = ${no}
	</update>
    
</mapper>