<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<select id="login">
		SELECT
			*
		FROM 
		MEMBER
		WHERE "ID" = #{id}	
	</select>
	
	<select id="bankList" resultType="BankVo">
		SELECT 
			"NO"
			, "NAME"
		FROM BANK
	</select>
	
	<select id="authorizeList" resultType="AuthorizeVo">
		SELECT 
			"NO"
			, "LEVEL"
		FROM AUTHORIZE
	</select>
	
	<insert id="join">
		INSERT INTO
		MEMBER
		(
			"NO"
			, "ID"
			, "PWD"
			, "NAME"
			, "EMAIL"
			, "PHONE"
			, "BIRTHDAY"
			, "BANK_NO"
			, "ACCOUNT"
			, "DEPT_N0"
			, "POSITION_N0"
			, "AUTHORIZE_N0"
			, "JOIN_DATE"
			, "MODIFY_DATE"
			, "RESIGNATION_YN"
			, "ENTRUST_N0"
		)
		VALUES 
		(
			SEQ_MEMBER_NO.NEXTVAL
			, #{id}
			, #{id}
			, #{name}
			, #{email}
			, #{phone}
			, #{birthDay}
			, #{bankNo}
			, #{account}
			, #{deptNo}
			, #{positionNo}
			, #{authorizeNo}
			, SYSDATE
			, SYSDATE
			, 'N'
			, #{entrustNo}
		)
	</insert>
	<select id="getNo" resultType="String">
		SELECT "NO"
    	FROM MEMBER
    	WHERE "ID" = #{id}
    	AND "NAME" = #{name}
	</select>
</mapper>