<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<select id="countList" resultType="int">
		SELECT COUNT(*)
        FROM MEMBER M
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
		JOIN AUTHORIZE A ON A.NO = M.AUTHORIZE_NO
		LEFT JOIN DEPARTMENT T ON T.NO = M.DEPT_NO
		WHERE M.RESIGNATION_YN = 'N'
		<if test="keyword != null and keyword !='' and category != null and category != ''">
			AND ${category} LIKE '%${keyword}%'
		</if >
		<if test="keyword != null and keyword !='' and category == null" >
			AND M.ID LIKE '%${keyword}%'
		    OR M.NAME LIKE '%${keyword}%' 
		    OR M.EMAIL LIKE '%${keyword}%'
		    OR M.BIRTHDAY LIKE '%${keyword}%'
		    OR D.NAME LIKE '%${keyword}%'
		    OR T.NAME LIKE '%${keyword}%'
		    OR P.POSITION LIKE '%${keyword}%'
		    OR A.RANK LIKE '%${keyword}%'
		    OR M.JOIN_DATE LIKE '%${keyword}%'
		</if> 
	</select>
	
	<select id="login" resultType="MemberVo">
		SELECT 
		    M.NO
		    , M.ID
		    , M.PWD
		    , M.NAME
		    , M.EMAIL
		    , M.PHONE
		    , M.BIRTHDAY
		    , M.BANK_NO
		    , B.NAME AS BANK_NAME
		    , M.ACCOUNT
		    , M.ADDRESS
		    , D.NO AS DEPT_NO
		    , D.NAME AS DEPT_NAME
		    , T.NO AS TEAM_NO
		    , T.NAME AS TEAM_NAME
		    , M.POSITION_NO
		    , P.POSITION AS POSITION_NAME
		    , M.AUTHORIZE_NO
		    , A.RANK AS AUTHORIZE_NAME
		    , M.JOIN_DATE
		    , M.MODIFY_DATE
		    , M.RESIGNATION_YN
		    , M.ENTRUST_NO
		    , F.NO AS FILE_NO 
		    , F.CHANGE_NAME as FILE_NAME
		    , F.ORIGIN_NAME AS FILE_ORIGIN_NAME
		FROM MEMBER M
		JOIN BANK B ON B.NO = M.BANK_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN AUTHORIZE A ON A.NO = M.AUTHORIZE_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
		LEFT JOIN DEPARTMENT T ON T.NO = M.TEAM_NO
		LEFT JOIN 
		(
		    SELECT 
		        "NO",
		        "ORIGIN_NAME",
		        "MEMBER_NO",
		        "CHANGE_NAME",
		        "FILE_PATH",
		        "ENROLL_DATE",
		        "THUMB_YN"
		    FROM PROFILE_A
		    WHERE "THUMB_YN" = 'Y'
		) F ON M.NO = F.MEMBER_NO
		WHERE M.ID = #{id}
		<if test="id.equals('admin')">
			AND M.PWD = #{pwd}
		</if>
		AND M.RESIGNATION_YN = 'N'	
	</select>
	
	<select id="selectOne" resultType="MemberVo">
		SELECT 
		    M.NO
		    , M.ID
		    , M.PWD
		    , M.NAME
		    , M.EMAIL
		    , M.PHONE
		    , M.BIRTHDAY
		    , M.BANK_NO
		    , B.NAME AS BANK_NAME
		    , M.ACCOUNT
		    , M.ADDRESS
		    , D.NO AS DEPT_NO
		    , D.NAME AS DEPT_NAME
		    , T.NO AS TEAM_NO
		    , T.NAME AS TEAM_NAME
		    , M.POSITION_NO
		    , P.POSITION AS POSITION_NAME
		    , M.AUTHORIZE_NO
		    , A.RANK AS AUTHORIZE_NAME
		    , M.JOIN_DATE
		    , M.MODIFY_DATE
		    , M.RESIGNATION_YN
		    , M.ENTRUST_NO
		    , F.NO AS FILE_NO 
		    , F.CHANGE_NAME as FILE_NAME
		    , F.ORIGIN_NAME AS FILE_ORIGIN_NAME
		FROM MEMBER M
		JOIN BANK B ON B.NO = M.BANK_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN AUTHORIZE A ON A.NO = M.AUTHORIZE_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
		LEFT JOIN DEPARTMENT T ON T.NO = M.TEAM_NO
		LEFT JOIN 
		(
		    SELECT 
		        "NO",
		        "ORIGIN_NAME",
		        "MEMBER_NO",
		        "CHANGE_NAME",
		        "FILE_PATH",
		        "ENROLL_DATE",
		        "THUMB_YN"
		    FROM PROFILE_A
		    WHERE "THUMB_YN" = 'Y'
		) F ON M.NO = F.MEMBER_NO
		WHERE M.RESIGNATION_YN = 'N'
		AND M.NO = #{no}	
	</select>
	
	<select id="bankList" resultType="BankVo">
		SELECT 
			"NO"
			, "NAME"
		FROM BANK
	</select>
	
	<select id="authorizeList" resultType="AuthorizeVo">
		SELECT 
			"NO"
			, RANK
		FROM AUTHORIZE
	</select>
	
	<insert id="join">
		INSERT INTO
		MEMBER
		(
			"NO" 
			, "ID"
			, "PWD"
			, "NAME"
			, "EMAIL"
			, "PHONE"
			, "BIRTHDAY"
			, "BANK_NO"
			, "ACCOUNT"
			, "ADDRESS"
			, "DEPT_NO"
			, "TEAM_NO"
			, "POSITION_NO"
			, "AUTHORIZE_NO"
			, "JOIN_DATE"
			, "MODIFY_DATE"
			, "RESIGNATION_YN"
			, "ENTRUST_NO"
		)
		VALUES 
		(
			SEQ_MEMBER_NO.NEXTVAL
			, #{id}
			, #{pwd}
			, #{name}
			, #{email}
			, #{phone}
			, #{birthday}
			, #{bankNo}
			, #{account}
			, #{address}
			, #{deptNo}
			, #{teamNo}
			, #{positionNo}
			, #{authorizeNo}
			, SYSDATE
			, SYSDATE
			, 'N'
			, #{entrustNo}
		)
	</insert>
	
	<select id="getNo" resultType="String">
		SELECT "NO"
    	FROM MEMBER
    	WHERE "ID" = #{id}
    	AND "NAME" = #{name}
	</select>
	
	<update id="updatePwd">

		UPDATE member
		
		SET "PWD" = #{pwd}
		
		WHERE "NO" = #{no}
	
	</update>


	<select id="selectMemberList" resultType="MemberVo">
		SELECT 
		    M.NO
		    , M.ID
		    , M.PWD
		    , M.NAME
		    , M.EMAIL
		    , M.PHONE
		    , M.BIRTHDAY
		    , M.BANK_NO
		    , B.NAME AS BANK_NAME
		    , M.ACCOUNT
		    , M.ADDRESS
		    , D.NO AS DEPT_NO
		    , D.NAME AS DEPT_NAME
		    , T.NO AS TEAM_NO
		    , T.NAME AS TEAM_NAME
		    , M.POSITION_NO
		    , P.POSITION AS POSITION_NAME
		    , M.AUTHORIZE_NO
		    , A.RANK AS AUTHORIZE_NAME
		    , M.JOIN_DATE
		    , M.MODIFY_DATE
		    , M.RESIGNATION_YN
		    , M.ENTRUST_NO
		    , F.NO AS FILE_NO 
		    , F.CHANGE_NAME as FILE_NAME
		    , F.ORIGIN_NAME AS FILE_ORIGIN_NAME
		FROM MEMBER M
		JOIN BANK B ON B.NO = M.BANK_NO
		JOIN POSITION P ON P.NO = M.POSITION_NO
		JOIN AUTHORIZE A ON A.NO = M.AUTHORIZE_NO
		JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
		LEFT JOIN DEPARTMENT T ON T.NO = M.TEAM_NO
		LEFT JOIN 
		(
		    SELECT 
		        "NO",
		        "ORIGIN_NAME",
		        "MEMBER_NO",
		        "CHANGE_NAME",
		        "FILE_PATH",
		        "ENROLL_DATE",
		        "THUMB_YN"
		    FROM PROFILE_A
		    WHERE "THUMB_YN" = 'Y'
		) F ON M.NO = F.MEMBER_NO
		WHERE M.RESIGNATION_YN = 'N'
		<if test="keyword != null and keyword !='' and category != null and category != ''">
			AND ${category} LIKE '%${keyword}%'
		</if >
		<if test="keyword != null and keyword !='' and category == null" >
			AND M.ID LIKE '%${keyword}%'
		    OR M.NAME LIKE '%${keyword}%' 
		    OR M.EMAIL LIKE '%${keyword}%'
		    OR M.BIRTHDAY LIKE '%${keyword}%'
		    OR D.NAME LIKE '%${keyword}%'
		    OR T.NAME LIKE '%${keyword}%'
		    OR P.POSITION LIKE '%${keyword}%'
		    OR A.RANK LIKE '%${keyword}%'
		    OR M.JOIN_DATE LIKE '%${keyword}%'
		</if> 
		<if test="loginTeamNo == null and loginDeptNo != null">
			AND M.NO != #{loginNo}
			AND D.NO = #{loginDeptNo}
			AND D.NO != 1 
		</if>
		<if test="loginTeamNo != null and loginDeptNo != null">
			AND M.NO != #{loginNo}
			AND T.NO = #{loginTeamNo}
		</if>
	</select>
	
	<select id="selectNewbieList" resultType="MemberVo">
		select * from
		(
			SELECT 
			    M.NO
			    , M.ID
			    , M.PWD
			    , M.NAME
			    , M.EMAIL
			    , M.PHONE
			    , M.BIRTHDAY
			    , M.BANK_NO
			    , B.NAME AS BANK_NAME
			    , M.ACCOUNT
			    , M.ADDRESS
			    , M.DEPT_NO
			    , D.NAME AS DEPT_NAME
			    , M.POSITION_NO
			    , P.POSITION AS POSITION_NAME
			    , M.AUTHORIZE_NO
			    , A.RANK AS AUTHORIZE_NAME
			    , M.JOIN_DATE
			    , M.MODIFY_DATE
			    , M.RESIGNATION_YN
			    , M.ENTRUST_NO
			    , F.NO as FILE_NO 
			    , F.CHANGE_NAME as FILE_NAME
			    , F.ORIGIN_NAME AS FILE_ORIGIN_NAME
			FROM MEMBER M
			JOIN BANK B ON B.NO = M.BANK_NO
			JOIN POSITION P ON P.NO = M.POSITION_NO
			JOIN DEPARTMENT D ON D.NO = M.DEPT_NO
			JOIN AUTHORIZE A ON A.NO = M.AUTHORIZE_NO
			LEFT JOIN 
				(
				select 
				    "NO",
				    "ORIGIN_NAME",
				    "MEMBER_NO",
				    "CHANGE_NAME",
				    "FILE_PATH",
				    "ENROLL_DATE",
				    "THUMB_YN"
				from PROFILE_A
				WHERE "THUMB_YN" = 'Y'
				) F ON M.NO = F.MEMBER_NO
			WHERE M.RESIGNATION_YN = 'N'
			ORDER BY M.JOIN_DATE DESC 
		)
		where rownum <![CDATA[<]]> 11
		
	</select>

	<update id="updateMember">
		UPDATE "MEMBER"
		SET 
			"POSITION_NO" = #{positionNo},
		    "DEPT_NO" = #{deptNo},
		    "TEAM_NO" = #{teamNo},
		    "AUTHORIZE_NO" = #{authorizeNo}
		WHERE "NO" = #{no}
	</update>
	
	<update id="updateMemberDetail">
		UPDATE "MEMBER"
		SET 
			"NAME" = #{name}
			, "EMAIL" = #{email}
			, "PHONE" = #{phone}
			, "BIRTHDAY" = #{birthday}
			, "BANK_NO" = #{bankNo}
			, "ACCOUNT" = #{account}
			, "ADDRESS" = #{address}
			, "MODIFY_DATE" = SYSDATE
			, "POSITION_NO" = #{positionNo}
		    , "DEPT_NO" = #{deptNo}
		    , "TEAM_NO" = #{teamNo}
		    , "AUTHORIZE_NO" = #{authorizeNo}
		WHERE "NO" = #{no}
	</update>
	
	
	<update id="deleteMemberAll">
		UPDATE "MEMBER"
		SET 
			"RESIGNATION_YN" = 'Y'
		WHERE "NO" IN 
		<foreach collection="list" item="i" separator="," open="(" close=")">
			#{i} 
		</foreach>
	</update>
	
	
	<!-- MemberFile -->
	<update id="insertAllFile">
		insert all
		<foreach collection="list" item="vo" separator=" ">
			into ${tableName}_A
		(
			"NO",
			"ORIGIN_NAME",
			"MEMBER_NO",
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
		)
		VALUES
		(
			get_seq_no('seq_${tableName}_a_no'),
			#{vo.originName},
			${vo.subNo},
			#{vo.changeName},
			#{vo.filePath},
			SYSDATE
		)
		</foreach>
		select * from dual
	</update>
	
	<insert id="uploadDefaultPic">
		INSERT INTO PROFILE_A
		(
			"NO",
			"ORIGIN_NAME",
			"MEMBER_NO",
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
		)
		VALUES
		(
			SEQ_PROFILE_A_NO.NEXTVAL,
			#{originName},
			${subNo},
			#{changeName},
			#{filePath},
			SYSDATE
		)
	</insert>
	
	<select id="selectFileOne" resultType="AttachmentVo">
		select 
			"NO",
			"ORIGIN_NAME",
			"MEMBER_NO" as subNo,
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE",
			"THUMB_YN"
 		from PROFILE_A
		where MEMBER_NO = ${no}
		AND "THUMB_YN" = 'Y'
	</select>
	
	<select id="getFile" resultType="AttachmentVo">
		select 
			"NO",
			"ORIGIN_NAME",
			"MEMBER_NO" as subNo,
			"CHANGE_NAME",
			"FILE_PATH",
			"ENROLL_DATE"
 		from ${tableName}_A
 		where MEMBER_NO = ${no}
	</select>
	
	<delete id="deleteFile">
		DELETE 
		FROM ${tableName}_A 
 		where NO = ${no}
	</delete>
</mapper>