<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="messengerMapper">
	
	<select id="selectChatFriendList" resultType="ChatCreateRoomMemberVo">
		
		SELECT DISTINCT
		MEMBER.NAME AS name, 
		(SELECT NAME
		FROM DEPARTMENT
		WHERE MEMBER.DEPT_NO=DEPARTMENT.NO
		)AS teamName
		, 
		(SELECT NAME
		FROM DEPARTMENT
		WHERE MEMBER.TEAM_NO=DEPARTMENT.NO
		)AS deptName
		, 
		(SELECT CHANGE_NAME
		FROM PROFILE_A
		WHERE PROFILE_A.MEMBER_NO=MEMBER.NO
		)AS profileName
		, position.position AS position
		, (SELECT MEMBER_NO
		FROM PROFILE_A
		WHERE PROFILE_A.MEMBER_NO=MEMBER.NO
		)AS profileNo
		FROM MEMBER, PROFILE_A, position
		WHERE 
		POSITION.NO = MEMBER.POSITION_NO 
<!-- 	AND MEMBER.ID NOT IN('testfirst') -->
	</select>
</mapper>