.main-box-2 {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px;
    position: relative;
}

#myaddress-wrap {
    width: 18%;
    height: 100%;
    padding: 10px;
}

#addressBook-wrap {
    width: 100%;
    height: 100%;
    padding: 40px 30px 10px 30px;
}

.header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--bo-20);
}
.title {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}
.title span {
    color: var(--main-color);
    margin-right: 7px;
}
.title label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2px;
}

.address-search {
    display: flex;
    align-items: flex-end;
}

.address-search form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
}

.address-search input[type='text'] {
    width: 150px;
    height: 25px;
    margin: 0px 7px 0px 5px;
    border: 1px solid var(--bo-40);
    border-radius: 2px;
    outline-color: var(--main-color);
}

.address-search select {
    font-size: 12px;
    border: 1px solid var(--bo-40);
    border-radius: 2px;
    outline-color: var(--main-color);
}

.address-search input[type='submit'] {
    border: none;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    padding: 3px 13px;
    border-radius: 2px;
}

.address-search input[type='submit']:hover {
    background-color: #17a897;
}

.body {
    margin: auto;
    margin-top: 15px;
    width: 90%;
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.body-controller {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 12px;
}

#reciveInfo {
    display: none;
}

.body-controller span {
    font-size: 20px;
    margin-left: 3px;
    cursor: pointer;
    color: var(--bo-40);
}

.body-controller span:hover {
    color: #000;
}

.body-controller span:last-child {
    font-size: 20px;
}
#checkShare {
    font-size: 16px;
}

.card-sortation {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #ffee93;
    padding: 3px 5px;
    border-radius: 2px;
    color: #000;
    font-size: 12px;
    font-weight: 700;
    z-index: 1;
}

/* newCard */
.card-item {
    position: relative;
    width: 100%;
    box-shadow: 1px 1px 3px 1px var(--bo-20);
    border: 2.5px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-item:hover img {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.card-item:has(input[type='checkbox']:checked) {
    border: 2.5px solid #809ec8;
    box-shadow: none;
}

.essential-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 7px;
}

.card-item p {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    color: var(--bo-80);
}

.cardCheck {
    display: none;
}

.card-top {
    width: 100%;
    height: 40mm;
    border-bottom: 1px solid var(--bo-20);
    overflow: hidden;
}

.card-top label {
    cursor: pointer;
}

.card-top img {
    width: 100%;
    height: 40mm;
    z-index: -1;
    border-radius: 5px 5px 0px 0px;
}

.card-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px 8px 8px 8px;
    gap: 5px;
}

#card-email {
    font-size: 13px;
    color: #000;
}

#card-email:hover {
    color: #17a897;
}

.info-email,
.info-phone {
    display: flex;
}

.info-email strong,
.info-phone strong,
#card-address {
    font-size: 13px;
    font-weight: 900;
    color: var(--main-color-dark);
    margin-right: 3px;
}

#card-position {
    font-size: 7px;
}

#card-detail {
    width: 70px;
    text-align: center;
    font-size: 12px;
    align-self: flex-end;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 3px;
}

#card-detail:hover {
    background-color: #17a897;
}

#card-company {
    font-size: 15px;
    font-weight: 900;
}

#card-company i {
    font-size: 15px;
    color: var(--main-color-dark);
    margin-right: 5px;
}

#card-name {
    font-size: 15px;
    font-weight: 900;
    color: var(--main-color-dark);
}

/* 부서목록 */

.sortation-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--main-color-dark);
    padding: 3px 0;
    margin-bottom: 10px;
}

.sortation-title span {
    color: var(--main-color);
    margin-right: 5px;
}

.sortation-title p {
    font-size: 15px;
    font-weight: 600;
}

.sortation-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    transition: 0.2s ease-in-out;
}

.sortation-item label > input {
    display: none;
}

.sortation-item .toggleBtn {
    padding: 3px 4px;
    display: flex;
    background-color: var(--main-color);
    align-items: center;
    color: #fff;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
}

.sortation-item .toggleBtn > span {
    font-size: 15px;
    transition: 0.4s ease-in-out;
}

.sortation-item > label {
    width: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sortation-item ~ li > .address-item {
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 4px 0;
    margin-left: 23px;
}

.address-item > a {
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.address-item > a > span {
    margin-right: 4px;
    color: var(--main-color);
}

.sortation-item:has(input:checked) {
    border: 1px solid var(--main-color-dark);
    background-color: var(--main-color-dark);
    color: #fff;
}

.sortation-item:has(input:checked) .toggleBtn {
    background-color: var(--main-color-dark);
}
.sortation-item:has(input:checked) .toggleBtn span {
    transform: rotate(180deg);
}

.sortation-item ~ li {
    max-height: 0px;
    overflow: hidden;
}

.sortation-item:has(input:checked) ~ li {
    max-height: none;
}
